RewriteEngine On

# Redirect /advice/{query} to apis/advice.php
RewriteRule ^advice/(.*)$ apis/advice.php [L]

RewriteRule ^name$ apis/name.php [L]
RewriteRule ^studies$ apis/studies.php [L]
RewriteRule ^skills$ apis/skills.php [L]
RewriteRule ^random_advice$ apis/random_advice.php [L]
RewriteRule ^experience$ apis/experience.php [L]
